[Unit]
Description=step-ca
After=syslog.target network.target

[Service]

User=smallstep
Group=smallstep
ExecStart=/bin/sh -c '/bin/step-ca /home/smallstep/.step/config/ca.json --password-file=/home/smallstep/.step/pwd >>   /var/log/smallstep/output.log 2>&1'
Type=simple
Restart=on-failure
RestartSec=10


[Install]
WantedBy=multi-user.target
